// .btn (main button w/o colors)
.btn {
  display: inline-block;
  padding: 10px 1.5rem;
}


// yellow to black        (.ytb)      (white txt    ->    white txt)
.ytb {
  background-color: $yellow;
  color: white;
  transition: $transit;

  &:hover {
    background-color: black;
  }
}

// black to yellow        (.bty)      (white txt    ->    black txt)
.bty {
  background-color: black;
  color: white;
  transition: $transit;

  &:hover {
    background-color: $yellow;
    color: black;
  }
}

// white to yellow        (.wty)      (black txt    ->    white txt)
.wty {
  background-color: $almostwhite;
  color: black;
  border: 0.2px solid rgb(199, 199, 199);
  transition: $transit;

  &:hover {
    background-color: $yellow;
    color: white;
  }
}

// yellow to yellow       (.yty)    (black txt    ->      black txt)
.yty {
  background-color: $yellow;
  color: black;
  transition: $transit;

  &:hover {
    background-color: $yellow;
    color: black;
  }
}