footer {
  background-color: $footerbg;
  color: $greytext;

  p {
    line-height: 24px;
    width: 80%;
    margin: 0 auto 0 0;
  }
}

.upperfoot {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: $greytext 0.1px solid;
}

.downerfoot {
  padding-top: 30px;
  padding-bottom: 60px;
}