footer {
  background-color: $footerbg;
  color: $greytext;

  p {
    line-height: 24px;
    width: 80%;
    margin: 0 auto 0 0;
  }

  .ttle {
    margin-bottom: 15px;
  }

  input {
    height: 30px;
  }

  .content {
    p {
      margin-bottom: 20px;
    }
  }

  .pic1 {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
    background: url('../img/i1.jpg') center/cover;
  }

  .pic2 {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
    background: url('../img/i2.jpg') center/cover;
  }

  .pic3 {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
    background: url('../img/i3.jpg') center/cover;
  }

  .pic4 {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
    background: url('../img/i4.jpg') center/cover;
  }

  .pic5 {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
    background: url('../img/i5.jpg') center/cover;
  }

  .pic6 {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
    background: url('../img/i6.jpg') center/cover;
  }

  .pic7 {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
    background: url('../img/i7.jpg') center/cover;
  }

  .pic8 {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
    background: url('../img/i8.jpg') center/cover;
  }
}

.upperfoot {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: $greytext 0.1px solid;
}

.downerfoot {
  padding-top: 30px;
  padding-bottom: 60px;
}
