// grid
// fast configuration in order to determine how many columns (default = 1) and gap (default = 1)
.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

// column config
.col2 {
  grid-template-columns: repeat(2, 1fr);
}

.col3 {
  grid-template-columns: repeat(3, 1fr);
}

.col4 {
  grid-template-columns: repeat(4, 1fr);
}

.col10-90 {
  grid-template-columns: 10% 1fr;
}

.col8-2 {
  grid-template-columns: 80% 1fr;
}

.col3-7 {
  grid-template-columns: 30% 1fr;
}

.cola-1 {
  grid-template-columns: auto 1fr;
}

// special things
// poser les items aux extrémités
.start {
  justify-self: start;
}

.end {
  justify-self: end;
}

// grid justify center
.gcenter {
  justify-items: center;
}

.acenter {
  align-items: center;
}

.astart {
  align-items: start;
}

.aend {
  align-items: end;
}

// gap changer
.g0 {
  gap: 0;
}

.g025 {
  gap: 0.25rem;
}

.g05 {
  gap: 0.5rem;
}

.g2 {
  gap: 2rem;
}

.g3 {
  gap: 3rem;
}

.g4 {
  gap: 4rem;
}

.g5 {
  gap: 5rem;
}

// responsive

// intermediate
@include laptop {
  // 1 col responsive
  .rl1 {
    grid-template-columns: 1fr;
  }

  .rl2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .rl3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

// mobile
@include mobile {
  // 1 col responsive
  .rm1 {
    grid-template-columns: 1fr;
  }

  .rm2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .rm3 {
    grid-template-columns: repeat(3, 1fr);
  }
}