// GENERAL RULES
header {
  .prenav {
    padding-top: $topbot-big;
    padding-bottom: $topbot-big;
  }
}

// HOMEPAGE
.homepage {
  header {
    height: 100vh;
    background: url('../img/hero-bg.jpg') center/cover;

    .text {
      position: relative;
      top: 40%;
      transform: translateY(-50%);
    }

    .main-title {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    p {
      width: 40%;
    }
  }
}

.hotels {
  header {
    height: 30vh;
    background: url('../img/hero-bg.jpg') center/cover;
  }

  h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}

.contact {
  header {
    height: 30vh;
    background: url('../img/hero-contact.jpg') center/cover;
    position: relative;

    // dark background to let things visible
    &::before {
      content: '';
      background-color: rgba(0, 0, 0, 0.253);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  & * {
    position: relative;
    z-index: 1;
  }
}

.blog {
  header {
    height: 30vh;
    background: url('../img/hero-blog.jpg') center/cover;
  }

  h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}