// COLORS
$yellow: #f8b600;
$lessyellow: #f8b60059;
$textcolor: #222222;
$somebg: #f9f9ff;
$footerbg: #04091e;
$greytext: rgb(156, 156, 156);
$almostwhite: rgb(238, 238, 238);

// PIXELS
$mainwrapper: 1140px;

// FONTS
$font: 'Poppins', sans-serif;

// MISC
$transit: .2s all ease-in-out;