.blog {
  // a card
  .card {
    background-color: $yellow;
    color: white;
    padding: 10px 0;
    text-align: center;
  }

  .pp1 {
    background: url('../img/blog/pp1.jpg') center/cover;
  }

  .pp2 {
    background: url('../img/blog/pp2.jpg') center/cover;
  }

  .pp3 {
    background: url('../img/blog/pp3.jpg') center/cover;
  }

  .pp4 {
    background: url('../img/blog/pp4.jpg') center/cover;
  }

  .ad {
    height: 200px;
    width: 100%;
  }

  .adimg {
    background: url('../img/blog/ads-banner.jpg') center/cover;
  }
}