.homepage {
  // The countrybox (hover and before etc...)
  .countrybox {
    height: 200px;
    position: relative;
    
    
    h2 {
      margin-bottom: 2px;
    }
    
    &::before {
      content: '';
      background-color: rgba(0, 0, 0, 0);
      transition: $transit;
    }
    
    &:hover:before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.294);
    }
    
    &:hover .hidden {
      opacity: 1;
    }
  }
  
  .cb1 {
    background: url('../img/d1.jpg') center/cover;
  }
  
  .cb2 {
    background: url('../img/d2.jpg') center/cover;
  }
  
  .cb3 {
    background: url('../img/d3.jpg') center/cover;
  }
  
  // The prices
  .packages {
    padding-bottom: $minitb;
  }
  
  .titles {
    padding-top: $minitb;
  }
  
  .pricebox {
    background-color: white;
    padding-top: $topbot-big;
    padding-bottom: 25px;
    
    .title {
      border-bottom: 2px $yellow solid;
      margin-bottom: 15px;
    }
  }
  
  .price-row {
    grid-template-rows: 45px;
  }
  
  // FOUR BOXES WITH WEIRD ANIMATION
  .fourboxes {
    // backgrounds
    .bg1 {
      background: url('../img/o1.jpg') center/cover;
      height: 200px;
    }
    
    .bg2 {
      background: url('../img/o2.jpg') center/cover;
      height: 200px;
    }
    
    .bg3 {
      background: url('../img/o3.jpg') center/cover;
      height: 200px;
    }
    
    .bg4 {
      background: url('../img/o4.jpg') center/cover;
      height: 200px;
    }
    
    
  }
  
  .doublebox {
    padding-bottom: 50px;
    
    .portrait1 {
      background: url('../img/blog/c1.jpg');
      height: 50px;
      width: 50px;
      border-radius: 100%;
      margin-top: 15px;
    }
    
    .portrait2 {
      background: url('../img/blog/c2.jpg');
      height: 50px;
      width: 50px;
      border-radius: 100%;
      margin-top: 15px;
    }
    
    .thebox {
      background: white;
      padding: 15px;
    }
  }
  
  .testimonials {
    margin-bottom: 0;
  }
  
  .customprices {
    position: relative;
    
    h2 {
      margin: 2px 0;
    }
    
    p {
      margin-bottom: 50px;
    }
  }
  
  .rightbg {
    background: url('../img/about-img.jpg') center/cover;
    height: 50vh;
  }
  
  .ourblog {
    
    padding-top: 50px;
    
    // padding on the bottom of the triple blog boxes
    .triple-trouble {
      padding-bottom: 25px;
      
      .box:hover .blogimg {
        transform: scale(110%);
      }
    }
  }
  .titles {
    margin-top: 0;
  }
  
  // bg images
  .bgimg1 {
    background: url('../img/b1.jpg') center/cover;
    height: 250px;
  }
  
  .bgimg2 {
    background: url('../img/b2.jpg') center/cover;
    height: 250px;
  }
  
  .bgimg3 {
    background: url('../img/b3.jpg') center/cover;
    height: 250px;
  }
  
  .tags {
    grid-template-columns: 100px 120px;
    .btn {
      padding: 2px 1rem;
      text-align: center;
    }
  }
  
  h2, p {
    margin: 5px 0;
  }
  
}


.squares {
  padding-bottom: 50px;
}

.overbox {
  overflow-y: hidden;
  overflow-x: hidden;
}